.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.column-about {
  float: left;
  padding: 10px;
  height: 300px;
  width: auto; 
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}